@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

body {
  background: #ddd;
}

h1 {
    font-family: 'Bree Serif', serif;
    color: #efefef;
    font-size: 65px;
    line-height: 1;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h2 {
  font-family: 'Bree Serif', serif;
  color: #efefef;
  font-size: 30px;
  line-height: 1;
  text-align: center;
  margin: 0;
  padding: 0px 20px 20px 0px;
}

h3 {
  font-family: 'Bree Serif', serif;
  color: #efefef;
  font-size: 20px;
  font-weight:200;
  line-height: 1;
  text-align: center;
  margin: 0;
  padding: 0px 20px 20px 0px;
}

.page {
  max-width: 500px;
  max-height: 500px;
  margin: auto;
  text-align: center;
}

.PictureDisplayed {
    max-width: 550px;
    margin: auto;
    text-align: center;
    background: #333;
    padding: 0px 30px 30px 30px;
    margin-top: 5px;
    border: 1px solid #DDDDDD;
    overflow: auto;
    border-radius: 5px;
}

.PictureDisplayed img {
  border-radius: 10px;
  width: auto;
  height: 350px;
  margin: 0 auto;
  border: 5px solid #333;
}

.PictureDisplayed .btn-grp {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 20px;
}


.PictureDisplayed button {
  padding: 15px 10px;
  color: #fff;
  font-weight: 400;
  background-color: #2c6eb7;
  margin-right: 15px;
  border-radius: 5px;
  font-size: 1.2em;
  flex: 1;
  border: none;
  cursor: pointer;
  opacity: 1;
  outline: none;
}

.PictureDisplayed button:hover {
  opacity: 0.8;
  transition: opacity ease-in-out 0.2s;
}

.PictureDisplayed button:last-child {
  margin-right: 0;
}


.PictureDisplayed .smellsbad {
  background-color: #c5465c;
}
.PictureDisplayed .FindAMatch {
background-color: #efefef;
color: #333;
border-radius: 50px;
}

.PictureDisplayed .like {
  border-radius: 100px;
  padding: 20px 20px;
  color: #2c6eb7;
  background-color: #fff;
}

.audiofeature {
  margin-top: 30px;
  max-width: 12%;
}

img {
    max-width: 500px;
    max-height: 500px;
}
