@font-face {
    font-family: 'Crayon';
    src: url('./DK_Cool_Crayon.ttf');
}

h1 {
    font-family: 'Crayon';
    color: #000;
    font-weight: lighter;
    font-size: 90px;
    text-align: center;
    margin: 40px;
}

.PictureDisplayed {
    max-width: 500px;
    max-height: 500px;
    margin: auto;
    border: 3px solid #73AD21;
}

img {
    max-width: 500px;
    max-height: 500px;
}
